body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    /* background-image: url(download\ \(1\).jpeg); */

    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-container {
    background-color: #29E4C8;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    width: 500px;
    max-width: 90%;
}

h1 {
    color: #ffff;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    /* color: #333333; */
    color: #ffff;
    margin-bottom: 5px;
    text-align: left;
}

input[type="text"],
input[type="email"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 25px;
    font-size: 14px;
    background-color: #e0f7fa;
}

button {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    background-color: #45C3B8;
    border: none;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    width: 100px;
}

/* button, Register {
    background-color: #45C3B8;
    border: none;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    width: 100px;
} */

button:hover {
    background-color: #399a8e;
}

.note {
    margin-top: 10px;
    font-size: 12px;
    color: #333333;
    text-align: right;
}

p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}
select{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 25px;
    font-size: 14px;
    background-color: #e0f7fa;
}

a{
    text-decoration: none;
    color: azure;
}